
.img-logo{
    width: 230px;
}
.text-band{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.card-body{
    height: 220px;
}
.centrar{
    padding-top: 30px;
    margin: 0px auto;
    display: block;
}
.img-caro{
    height: 90%;
}
.about-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.register-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 5px;
}
.text_register{
    font-size: 24px;
    color: white;
    padding: 7px;
    background-color: #256b7d;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}
.reg-div{
    width: 40%;
    height: 50%;
    background: #fff;
}
@media (max-width: 1200px) {
    .reg-div {
    width: 60%;
    height: 50%;
    background: #fff;
    }
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.img-tabla{
    height: 300px;
}
.txt_album1{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
}
.title_morat{
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    font-size: 30px;
    background-color: #256b7d;
    color: white;
    padding: 10px 0;
}

/* Pop- up */

.pop_up_container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    inset: 0;
    display: grid;
    place-items: center;
    animation: show_popup 500ms ease-in-out forwards;
}

.pop_up {
    width: clamp(300px, 90vw, 500px);
    background-color: #0e0e0e;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    color: #fff;
}

/* this is the X */
.pop_up h1 {
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
    user-select: none;
}

.pop_up h1:active,
button:active {
    transform: scale(.9);
}

/* we're selecting the checkbox */
/* ~ selects all the the siblings */
/* we'll also have to remove the animation when the checkbox gets checked */
/* and remove the input element from the screen */
#popup:checked ~ .pop_up_container {
    transform: scale(0);
    pointer-events: none;
    animation: none;
}
/* so basically what we're saying is when the checkbox gets checked select the sibling with the class of .pop_up_container and apply those properties */
/* now I'll add some animations to make it look more attractive */

@keyframes show_popup {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

#popup {
    display: none;
}